# Links
- https://www.kaggle.com/c/prudential-life-insurance-assessment

In [1]:
import pandas as pd

%load_ext autoreload
%autoreload 2

import pipeline as pl

In [ ]:
pl.test_validate()

In [21]:
stats = pd.read_json('results.json').sort_values('qwk-mean')
stats.T[stats.nunique() > 1]

                        1           2           0           3           4
est_type              rfr       etree         xgb      xgb/dt         xgb
exec-time-sec     398.817     437.634     334.375     344.474     386.967
qwk-mean         0.582829    0.585566    0.605789    0.610298    0.654196
qwk-std        0.00360426  0.00168958  0.00317118  0.00517615  0.00328258
rmin                False       False       False       False        True